@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Tinos&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  font-family: "Tinos", serif;
  overflow-x: hidden;
}

:root {
  --main-color: #f33c3c;
  --second-color: #8e44ad;
  --text-color: #444;
  --gradient: linear-gradient(120deg, #2980b9, #8e44ad);
}

/* Custom Scroll Bar */

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 6rem;
}
/* top part styling starts here */
a,
a:hover {
  text-decoration: none;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  background: #c6493b;
}

.top-bar span {
  color: #fff;
}

.top-bar ul {
  list-style: none;
  display: flex;
}

.top-bar li {
  margin: 0px 5px;
}

.top-bar a {
  color: #fff;
}

.top-bar a:hover {
  color: #222;
}
/* top part styling ends here */

/* Header or navbar Styling starts */
nav {
  background: #222;
  padding: 5px 20px;
  display: flex;
  align-items: center;
}

nav a {
  color: #fff;
}

nav a:hover {
  color: #c6493b;
}

.logo {
  flex: 1;
}

.logo a {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.logo a:hover {
  color: #fff;
}

.logo img {
  background: white;
  width: 22rem;
  margin-left: 10px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.menu li {
  padding: 15px 10px;
  font-size: 1rem;
}

.toggle {
  font-size: 30px;
  display: none;
}

@media screen and (max-width: 600px) {
  nav {
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .menu {
    margin-top: 15px;
    display: none;
  }
  .menu.active,
  .toggle {
    display: block;
  }
  .toggle {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}
@media (max-width: 376px){


  .logo img {
      background: white;
      width: 15rem;
      margin-left: 10px;
  }
  
  .menu {
      margin-top: 15px;
      display: none;
  }

  .menu.active,
  .toggle {
      display: block;
  }

  .toggle {
      position: absolute;
      top: 15px;
      right: 30px;
  }
}

@media (max-width: 415px){
  .logo img {
      background: white;
      width: 15rem;
      margin-left: 10px;
  }
}

/* Header or Navbar Styling ends */

/* Box Section start */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 100px;
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 125px 30px;
  }
}

.box1 {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center;
}

.box1 img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.box1 h1 {
  margin-bottom: 15px;
  font-size: 65px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  .box1 {
    min-height: 600px;
  }
  .box1 h1 {
    font-size: 32px;
  }
}
/* Box Section end */

/* Website development about Styling starts */

.web-module{
  width: 100%;
  height: 124vh;
  background: white;
  justify-content: center;
  align-items: center;
}

.web-module .web-main img{
  width: 450px;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
}

.web-all-text{
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
}

.web-main{
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space;
}

.web-all-text h4{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #777777;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 10px;
}

.web-all-text h1{
  font-size: 45px;
  color: #111111;
  font-weight: 700;
  margin-bottom: 20px;
}

.web-all-text p{
  font-family: 'Roboto',sans-serif;
  font-size: 18px;
  color: #777777;
  line-height: 30px;
  margin-bottom: 35px;
}

.web-all-text button{
  background: white;
  padding: 20px 32px;
  font-size: 16px;
  font-weight: bold;
  color: #111111;
  border: none;
  outline: none;
  box-shadow: 0px 16px 32px 0px rgb(0 0 0 / 6%);
  margin-left: 30px;
}

.web-all-text button:hover{
  background-color: #C6493B;
  color: white;
  transition: .3s;
  cursor: pointer;
}

.btn2{
  background: #111111;
  color: white;
}
@media screen and (max-width: 1250px){
  .web-module{
      width: 100%;
      height: auto;
      padding: 60px 0;
  }
  .web-all-text{
      text-align: center;
      margin-top: 40px;
  }
}
@media screen and (max-width: 650px){
  .web-module .web-main img{
      margin-bottom: 35px;
      width: 500px;
  }
  .web-all-text h1{
      font-size: 45px;
      margin-bottom: 20px;
  }
  .web-all-text button{
    margin-left: 20px;
  }
}

/* Erp Module Styling ends */

/* erp sub-module section styling */

.module-container {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: #fff;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.module-container p,
small {
  color: #8f8f8f;
}

.module-container p {
  font-size: 1em;
  line-height: 23px;
}

.module-container h1 {
  margin: 0;
}

.module-skewed {
  width: 65em;
  color: #f1f1f1;
  display: flex;
  background: #111;
  margin: 2em 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}
.module-text {
  padding: 1.5em;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.module-container a {
  color: #fff;
  text-decoration: none;
}

.module-image {
  width: 50%;
  height: 17em;
  position: relative;
  overflow: hidden;
}

.module-image::before {
  content: "";
  position: absolute;
  left: -6.1em;
  top: 50%;
  transform: translateY(-50%) rotate(20deg);
  background: #111;
  width: 40%;
  height: 140%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.skewed-left .module-image::before {
  transform: translateY(-50%) rotate(-20deg);
  left: initial;
  right: -6.1em;
}

.module-container img {
  width: 140%;
}

@media screen and (max-width: 750px) {
  .module-skewed {
    display: block;
    width: 20em;
  }
  .module-image,
  .module-text {
    width: 100%;
  }
  .module-container img {
    width: 160%;
  }
  .module-skewed .module-image::before {
    width: 120%;
    height: 40%;
    top: -5em;
    left: 50%;
    transform: translateX(-50%) rotate(10deg);
  }
  .skewed-left .module-image::before {
    transform: translateX(-50%) rotate(-10deg);
    top: initial;
    bottom: -5em;
  }
}

/* erp sub-module section styling ends*/

/* Footer Styling starts */

footer {
  background-color: #000000ff;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col {
  min-width: 250px;
  color: #f2f2f2f2;
  font-family: poppins;
  padding: 0 2rem;
}
.col .logo {
  width: 200px;
  margin-bottom: 25px;
}

.col .company {
  font-size: 1.3rem;
}
.col h3 {
  color: #c6493b;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
  font-size: 1.7rem;
}
.col h3::after {
  content: "";
  height: 3px;
  width: 0px;
  background-color: #c6493b;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.col h3:hover::after {
  width: 30px;
}
.col .social a i {
  color: #c6493b;
  font-size: 2rem;
  margin-top: 2rem;
  margin-right: 5px;
  transition: 0.3s ease;
}
.col .social a i:hover {
  transform: scale(1.5);
  filter: grayscale(25);
}
.col .links a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
  font-size: 1.3rem;
}
.col .links a::before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: #c6493b;
  transition: 0.5s ease;
  opacity: 0;
}
.col .links a:hover::before {
  opacity: 1;
}
.col .links a:hover {
  transform: translateX(-8px);
  color: #c6493b;
}
.col .contact-details {
  display: inline-flex;
  justify-content: space-between;
  font-size: 1.3rem;
}
.col .contact-details i {
  margin-right: 15px;
}
.row .form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.row .form input {
  background-color: #1a1c20ff;
  color: #fff;
  border: 0;
  outline: none;
  padding: 14px 20px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 1rem;
}
.form button {
  padding: 14px 20px;
  border: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #c6493b;
}

/********** Responsive Design ********/
@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}

/* Footer Styling ends */
